Repository maxo99/sportsagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format

uv-lock:
  name: Update uv.lock when dependencies change
  entry: uv lock
  language: system

ruff-check:
  name: ruff
  entry: uv run ruff check --fix
  language: system
  args:
  - --fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

feat: enhance CI workflow to ignore specific paths and conditions for jobs
  .gitignore
  AGENTS.md
Due: none

feat: enhance CI workflow to ignore specific paths and conditions for jobs
  uv.lock
Due: none

0.0.8
  CHANGELOG.md
  pyproject.toml
  src/sportsagent/__init__.py
Due: uv-lock, ruff-check, ruff-format

feat: add validation commands for CLI and container in justfile
  .beads/issues.jsonl
  justfile
Due: none

bd sync: 2026-01-08 18:07:54
  .beads/issues.jsonl
Due: none

Close sportsagent-ox0 and sportsagent-2nt runtime configuration tasks
  entrypoint.sh
  justfile
  src/sportsagent/api.py
  src/sportsagent/runner.py
  src/sportsagent/session/interface.py
  src/sportsagent/session/manager.py
  src/sportsagent/session/memory_store.py
  tests/unit/test_api.py
Due: ruff-check, ruff-format

Update uv.lock after session abstraction changes
  uv.lock
Due: none

fix: enhance API healthcheck and improve entrypoint script; add nest-asyncio dependency
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  entrypoint.sh
  pyproject.toml
  uv.lock
Due: uv-lock

0.0.9
  CHANGELOG.md
  pyproject.toml
  src/sportsagent/__init__.py
Due: uv-lock, ruff-check, ruff-format

bd sync: 2026-01-09 14:22:13
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-09 15:54:39
  .beads/issues.jsonl
Due: none

Path conditions:
  uv-lock: any of: pyproject.toml
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
